/* || Fonts Imports ('Outfit and Young Serif')
 *************************/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

/* || Global Variables
 *************************/
/* || Colors
 *************************/
$brandy-red: #854632;
$dark-raspberry: #7A284E;

$white: #FFFFFF;
$rose-white: #FFF7FB;
$eggshell: #F3E5D7;
$white-coffee: #E3DDD7;
$wenge-brown: #5F564D;
$dark-charcoal: #312E2C;