/* || Body Element
 *************************/
body {
    background-color: $eggshell;
}

/* || Main Element
 *************************/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}